# Compiled deko3d shaders
/romfs/shaders/*.dksh
# Compiled objects
/source/*.o
# Generated dependencies
/source/*.d
# Switch Binary Outputs
/*.nacp
/*.elf
/*.nro
# Compiled headers/objects from binary files
/data/*.bin.o
/data/*_bin.h